body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 140%;
    background-color: rgb(199, 191, 191)
}

.container1 {
    width: 400px;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(117, 110, 110);
    margin: 70px auto auto 110px;
    float: left;
    background-color: rgb(235, 230, 230)
}

.container2 {
    width: 400px;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(117, 110, 110);
    margin: 70px 110px auto auto;
    float: right;
    background-color: rgb(235, 230, 230);
}

h1 {
    font-family: "Dancing Script", cursive;
    margin: auto auto auto auto;
    
}
.Vorspeise {
    float: left;
    margin: 10px 15px 10px 0px;
}

.SalatBild {
    float: right;
    margin: 10px 15px 10px 0px;
}

.Salattext {
  float: none;
}