body {
    font-family: 'Muli', sans-serif;
}

.header {
    height:620px;
    background-image:url("../img/header-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.header-navbar-links {
    color: whitesmoke;
    float:right;
    margin-top: 20px;
}

.header-navbar-links li {
    float:left;
    list-style-type: none;
    margin-left: 25px;

}
.container {
    margin-right: 40px;
    margin-left: 100px;
}
.header-brand {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display: block;
}
.header-brand-wrapper {
    margin-top: 50px;
    float:left;
}

.slogan {
    color: whitesmoke;
    text-align: center;
    padding-top: 160px;
    text-shadow: 2px 2px 3px black;
}
.slogan-oben {
    font-size: 150%;
    font-weight: lighter;
}
.slogan-unten {
    font-size: 200%;
    font-weight: bold;
}

.slogan-button {
    color: whitesmoke;
    margin-top: 50px;
    text-shadow: 2px 2px 3px black;
}
.slogan-button:hover {
    color: whitesmoke;
    margin-top: 50px;
}